<%- include('../partials/header') %>


    <table id="list">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure</th>
            </tr>
        </thead>
        <tbody>

            <% flights.forEach(function(f) { %>
                <tr>
                    <td style="color:<%= f.textColor %>;">
                        <%= f.airline %>
                    </td>
                    <td style="color:<%=f.textColor %>;">
                        <%= f.airport %>
                    </td>
                    <td style="color:<%= f.textColor %>;">
                        <%= f.flightNo %>
                    </td>
                    <td style="color:<%=f.textColor %>;">
                        <%= f.departs %>
                    </td>
                    <td>
                        <a id="details-button" href="/flights/<%= f._id %>">DETAILS</a>
                    </td>

                </tr>

                <% }); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>