<%- include('../partials/header') %>

    <section id="show-page">
        <div>Flight: </div>
        <div>
            <%= flight.airline %>
        </div>
        <div>Airport: </div>
        <div>
            <%= flight.airport %>
        </div>
        <div>Flight No: </div>
        <div>
            <%= flight.flightNo %>
        </div>
        <div>Departure: </div>
        <div>
            <%= flight.departs %>
        </div>
    </section>

    <h2>Tickets</h2>
    <% if (tickets.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Seat #</th>
                    <th>Price($USD)</th>
                </tr>
            </thead>
            <tbody>
                <% tickets.forEach(function(t) { %>
                    <tr>
                        <td>
                            <%= t.seat %>
                        </td>
                        <td>
                            <%= t.price %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Tickets Added Yet</h5>
            <% } %>
                <br><br>
                <form id="add-ticket" action="/flights/<%= flight._id%>/tickets/newFromFlight" method="POST">
                    <button id="add-ticket-button" type="submit">Add Ticket</button>
                </form>
                <br><br>
                <h2>Destinations</h2>
                <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
                    <select name="airport">
                    <option value="AUS">AUS</option>
                    <option value="DFW">DFW</option>
                    <option value="DEN" selected>DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                </select>
                    <input type="datetime-local" name="arrival" value="<%=arrivesDate%>">
                    <input type="submit" value="Add Destination">
                </form>

                <% if (flight.destinations.length) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Destination</th>
                                <th>Arrival Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% flight.destinations.forEach(function(d) { %>
                                <tr>
                                    <td>
                                        <%= d.airport %>
                                    </td>
                                    <td>
                                        <%= d.arrival %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h5>No Destinations Added Yet</h5>
                        <% } %>

                            <%- include('../partials/footer') %>